@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
.mainpage-upper{
    display: flex;
    flex-direction: row;
    height: 30em;
    width: 100%;
    justify-content: space-around;
    align-items: center;
}
#mainpage{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height:50em;
    width: 100%;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight:bold;
    font-style: normal;
    font-variation-settings:"slnt" 0;
}
.main-text{
    width: 50%;
    height: 5em;
    font-size:2.4em;
    text-align:center;
}
.main-text h1{
    position: absolute;
    left:15vw;
    top:25vh;
}
.animat{
    width: 50%;
    height: 35em;
}
.mainpage-lower{
    width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: relative;
    bottom: 5vh;
}
.mainpage-lower .logo{
    width: 4vw;
}
.mainpage-lower .icon{
    position: relative;
    bottom: 10vh;
}
.ft{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
}
@media screen and (max-width:481px) {
    #mainpage{
        height:100%;
    }
    .mainpage-upper{
        flex-direction: column;
        height: 80%;
        justify-content: inherit;
    }
    .main-text{
        width: 100%;
        font-size: 1.5em;
        order: 2;
        text-align:center;
    }
    .animat{
        width: 100%;
        height: 55%;
    }
    .mainpage-lower{
        width: 90%;
        font-size: 0.9em;
    }
    .mainpage-lower .logo{
        width: 2.7em;
    }
}
